.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.example-button-row {
  display: table-cell;
  .mat-button-base {
    margin: 8px 8px 8px 0;
  }
}

@media (max-width: 500px) {
  .example-button-row {
      display: none;
  }
}

#login {
  background-color: #1877F2;
  color: white;
}

#signup {
  background-color: #42B72A;
  color: white;
}
