<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar>Recipe Drop</mat-toolbar>
    <mat-nav-list>
      <button mat-raised-button id="login" class="menu-login-button" *ngIf="!this.isUserLoggedIn"
                (click)="login({name: 'James Patterson', email: 'jamespatterson.feswe@yahoo.com', pass: 'abc'})">
        Log in
      </button>
      <button mat-raised-button id="login" class="menu-logout-button" *ngIf="this.isUserLoggedIn"
                  (click)="logout({name: 'James Patterson', email: 'jamespatterson.feswe@yahoo.com', pass: 'abc'})">
        Log Out
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <span class="spacer"></span>
      <span class="name">{{ getGreeting() }}{{ name }}</span>
      <div class="example-button-row">
        <div *ngIf="this.isUserLoggedIn;else guest">
          <button mat-raised-button
                  (click)="logout({name: 'James Patterson', email: 'jamespatterson.feswe@yahoo.com', pass: 'abc'})"
                  id="login">
            Log Out
          </button>
          <button mat-raised-button (click)="openDialog()" id="signup">Add Recipe</button>
        </div>
        <ng-template #guest>
          <button mat-raised-button
                  (click)="login({name: 'James Patterson', email: 'jamespatterson.feswe@yahoo.com', pass: 'abc'})"
                  id="login">
            Log in
          </button>
          <button mat-raised-button *ngIf="!this.isUserLoggedIn" id="signup">Sign up</button>
        </ng-template>
      </div>
    </mat-toolbar>
      <app-recipes></app-recipes>
  </mat-sidenav-content>
</mat-sidenav-container>
