<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Our Goal</a>
      <a mat-list-item href="#">Login</a>
      <a mat-list-item href="#">Sign up</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <span class="example-spacer"></span>
      <div class="example-button-row">
        <div *ngIf="loggedIn();else other_content">
          <button mat-raised-button
                  (click)="logout({name: 'James Patterson', email: 'jamespatterson.feswe@yahoo.com', pass: 'abc'})"
                  id="login">
            Log Out
          </button>
        </div>
        <ng-template #other_content>
          <button mat-raised-button
                  (click)="login({name: 'James Patterson', email: 'jamespatterson.feswe@yahoo.com', pass: 'abc'})"
                  id="login">
            Log in
          </button>
        </ng-template>
        <button mat-raised-button *ngIf="!loggedIn()" id="signup">Sign up</button>
      </div>
    </mat-toolbar>
      <app-recipes></app-recipes>
  </mat-sidenav-content>
</mat-sidenav-container>
