#card-container {
  padding: 2vh 2vw 2vh 2vw;
}

dl {
  dt {
    text-shadow: 1px 1px lightgrey;
    margin: 2vh 0 2vh 0;
  }
  
  dd {
    margin: 1vh 2vw 1vh 2vw;
  }
}

mat-card {
  background-color: lightgray;
  text-shadow: .5px .5px darkgray;

  button {
    color: white;
  }

  .like-btn {
    background-color: var(--prime);
  }

  .edit-btn{
    background-color: var(--second);
  }

  img {
    border-radius: 5px;
    box-shadow: 0.25vw 0.5vh darkgray;
  }

  mat-card-content {
    margin: 2vh 2vw;
  }

  mat-toolbar {
    background-color: transparent;
    padding: 0;
  }
}