<form [formGroup]="recipeForm" novalidate>
  <mat-card class="recipe-card">
    <mat-card-header>
      <mat-card-title>New Recipe Drop</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <mat-form-field class="full-width">
          <input matInput placeholder="Title" formControlName="title">
          <mat-error *ngIf="recipeForm.controls['title'].hasError('required')">
            A title for your recipe is <strong>required</strong>.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Description of the recipe you're submitting" formControlName="description"></textarea>
        </mat-form-field>
      </div>
      <div [ngClass]="screenWidth() > 800 ? 'row' : 'col'">
        <mat-form-field class="full-width">
          <input matInput placeholder="Serves how many people" formControlName="servings">
          <mat-error *ngIf="recipeForm.controls['servings'].hasError('required')">
            Please, provide how many this recipe will serve.
          </mat-error>
          <mat-error *ngIf="recipeForm.controls['servings'].hasError('max')">
            Apologies, we do not allow recipes for more than 20 people
          </mat-error>
          <mat-error *ngIf="recipeForm.controls['servings'].hasError('min')">
            Apologies, the recipe must at least feed 1 person
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Prep Time in mins" formControlName="prepTime">
          <mat-error *ngIf="recipeForm.controls['prepTime'].hasError('required')">
            Please, provide a prep time.
          </mat-error>
          <mat-error *ngIf="recipeForm.controls['prepTime'].hasError('max')">
            Apologies, we try to keep our prep times within an hour
          </mat-error>
          <mat-error *ngIf="recipeForm.controls['prepTime'].hasError('min')">
            Please, enter a valid time frame
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Cook Time in mins" formControlName="cookTime">
          <mat-error *ngIf="recipeForm.controls['cookTime'].hasError('required')">
            Please, provide a cook time.
          </mat-error>
          <mat-error *ngIf="recipeForm.controls['cookTime'].hasError('max')">
            Apologies, we try to keep our cook times within 6 hours
          </mat-error>
          <mat-error *ngIf="recipeForm.controls['cookTime'].hasError('min')">
            Please, enter a valid time frame
          </mat-error>
        </mat-form-field>
      </div>
      <div [ngClass]="screenWidth() > 800 ? 'row' : 'col'">
        <mat-form-field appearance="legacy" [ngClass]="screenWidth() > 800 ? '' : 'full-width'">
          <input matInput formControlName="amount" [(ngModel)]="amount" placeholder="Amount">
          <mat-error *ngIf="recipeForm.controls['amount'].hasError('required')">
            An amount is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="legacy" [ngClass]="screenWidth() > 800 ? '' : 'full-width'">
          <input matInput formControlName="measurement" [(ngModel)]="measurement" placeholder="Measurement">
          <mat-error *ngIf="recipeForm.controls['measurement'].hasError('required')">
            An amount is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="legacy">
          <mat-label>Ingredient</mat-label>
          <mat-select [disabled]="!allowIngredientSelection()" [(ngModel)]="_ingredient_" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let ingredient of ingredients" (onSelectionChange)="addIngredient(ingredient)">
              {{ingredient.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-list role="list">
        <mat-list-item role="ingredient" *ngFor="let _i of data.ingredients">
          {{_i.amount}} {{_i.measurement}} {{_i.name}}
          <span class="spacer"></span>
          <button mat-mini-fab (click)="removeIngredient(_i)" id="remove-btn">-</button>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <div class="col">
        <mat-list role="list">
          <mat-list-item role="direction" *ngFor="let dir of data.directions; let i = index">{{i + 1}}. {{dir.optional ? '* ' : ''}} {{dir.instructions}}</mat-list-item>
        </mat-list>
        <div class="row" id="directions">
          <div [ngClass]="screenWidth() > 800 ? 'row' : 'col'">
            <mat-form-field appearance="legacy" [ngClass]="screenWidth() > 800 ? '' : 'full-width'">
              <mat-select [(value)]="selectedOption">
                <mat-option *ngFor="let option of options" [value]="option">
                  {{option}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="row">
              <input matInput class="direction-input" type="text" [(ngModel)]="nextDirection" placeholder="Direction" [ngModelOptions]="{standalone: true}">
              <button mat-mini-fab (click)="addDirection(nextDirection)" id="fab-btn">+</button>
            </div>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <p>
        <mat-toolbar class="form-toolbar">
          <span class="spacer"></span>
          <button [disabled]="!allowSubmit()" mat-raised-button (click)="submitRecipe()" id="submit-btn">{{btnText}}</button>
        </mat-toolbar>
      </p>
    </mat-card-content>
  </mat-card>
</form>
