.full-width {
  width: 100%;
}

.recipe-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

::ng-deep .mat-card-header-text {
  margin: 0px;
}

mat-card-header {
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

#directions {
  margin: 0 2vw;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.direction-input {
  margin: 0 0 0 2vw;
}

.form-toolbar {
  background-color: transparent;
}

#submit-btn {
  background-color: var(--prime);
  color: white;
}

#fab-btn {
  float:right;
  background-color: var(--prime);
}
